Repository RootstockCollective/dao-frontend, pull requests merged in 2024-11, with the labels that each got.

#333 DAO-XXX Fix pagination after 5 pages. The nextPageParams was not bein…
  .env.staging.mainnet
  Dockerfile
  src/app/user/Balances/actions.ts
  src/lib/utils.ts
Labels: do not merge

#295 feat(dao): add feature flags
  src/shared/context/FeatureFlagContext.tsx
Labels: deploy to QA

#360 fix(MVP): set new projected reward amount
  data.mainnet.json
Labels: collective-rewards

#341 feat(rc): last cycle rewards v2
  .env.testnet.local
  src/app/collective-rewards/actions.ts
  src/app/collective-rewards/metrics/context/CycleContext.tsx
  src/app/collective-rewards/metrics/context/index.ts
  src/app/collective-rewards/metrics/hooks/index.ts
  src/app/collective-rewards/metrics/hooks/useGetCycleStart.ts
  src/app/collective-rewards/metrics/hooks/useGetCycleStartAndDuration.ts
  src/app/collective-rewards/metrics/hooks/useGetEndDistributionWindow.ts
  src/app/collective-rewards/metrics/index.ts
  src/app/collective-rewards/rewards/LastCycleRewards.tsx
  src/app/collective-rewards/rewards/MyRewards.tsx
  src/app/collective-rewards/rewards/components/Metrics/MetricsCard.tsx
  src/app/collective-rewards/rewards/components/Metrics/index.ts
  src/app/collective-rewards/rewards/components/index.ts
  src/app/collective-rewards/rewards/hooks/index.ts
  src/app/collective-rewards/rewards/hooks/useClaimAllRewards.ts
  src/app/collective-rewards/rewards/hooks/useGetNotifyRewardLogs.ts
  src/app/collective-rewards/rewards/hooks/useGetRewardDistributedLogs.ts
  src/app/collective-rewards/rewards/index.ts
  src/app/collective-rewards/rewards/utils/formatMetrics.ts
  src/app/collective-rewards/rewards/utils/getLastCycleRewards.ts
  src/app/collective-rewards/rewards/utils/index.ts
  src/app/collective-rewards/user/hooks/index.ts
  src/app/collective-rewards/user/hooks/useGetBuilderToGauge.ts
  src/app/collective-rewards/utils/getLastCycleRewards.ts
  src/app/collective-rewards/utils/getPreviousCycle.ts
  src/app/collective-rewards/utils/handleErrors.ts
  src/app/collective-rewards/utils/index.ts
  src/app/user/page.tsx
  src/lib/abis/v2/CycleTimeKeeperAbi.ts
  src/lib/endpoints.ts
Labels: collective-rewards

#349 feat(cr): claimable rewards
  src/app/collective-rewards/rewards/ClaimableRewards.tsx
  src/app/collective-rewards/rewards/MyRewards.tsx
  src/app/collective-rewards/rewards/hooks/index.ts
  src/app/collective-rewards/rewards/hooks/useClaimBuilderRewards.ts
  src/app/collective-rewards/rewards/hooks/useGetBuilderRewards.ts
  src/app/collective-rewards/rewards/index.ts
  src/components/Button/Button.tsx
  src/components/Popover/Popover.tsx
Labels: collective-rewards

#357 TOK-409: all time rewards
  src/app/collective-rewards/actions.ts
  src/app/collective-rewards/rewards/AllTimeRewards.tsx
  src/app/collective-rewards/rewards/ClaimableRewards.tsx
  src/app/collective-rewards/rewards/LastCycleRewards.tsx
  src/app/collective-rewards/rewards/MyRewards.tsx
  src/app/collective-rewards/rewards/hooks/index.ts
  src/app/collective-rewards/rewards/hooks/useGetBuilderRewardsClaimedLogs.ts
  src/app/collective-rewards/rewards/index.ts
  src/lib/endpoints.ts
Labels: collective-rewards

#358 TOK-408: estimated rewards
  src/app/collective-rewards/rewards/EstimatedRewards.tsx
  src/app/collective-rewards/rewards/MyRewards.tsx
  src/app/collective-rewards/rewards/hooks/getRewardShares.ts
  src/app/collective-rewards/rewards/hooks/getTotalPotentialRewards.ts
  src/app/collective-rewards/rewards/hooks/index.ts
  src/app/collective-rewards/rewards/hooks/useGetPerTokenRewards.ts
  src/app/collective-rewards/rewards/hooks/useGetRewardDistributedLogs.ts
  src/app/collective-rewards/rewards/hooks/useGetRewardsCoinbase.ts
  src/app/collective-rewards/rewards/hooks/useGetRewardsERC20.ts
  src/app/collective-rewards/rewards/index.ts
  src/app/collective-rewards/utils/getCoinbaseAddress.ts
  src/app/collective-rewards/utils/getLastCycleRewards.ts
  src/app/collective-rewards/utils/index.ts
Labels: do not merge, collective-rewards

#359 TOK-410: all time share
  src/app/collective-rewards/actions.ts
  src/app/collective-rewards/rewards/AllTimeRewards.tsx
  src/app/collective-rewards/rewards/AllTimeShare.tsx
  src/app/collective-rewards/rewards/LastCycleRewards.tsx
  src/app/collective-rewards/rewards/MyRewards.tsx
  src/app/collective-rewards/rewards/hooks/useGetNotifyRewardLogs.ts
  src/app/collective-rewards/rewards/index.ts
  src/app/collective-rewards/rewards/utils/getLastCycleRewards.ts
  src/app/user/page.tsx
  src/lib/endpoints.ts
Labels: do not merge, collective-rewards

#365 TOK-470: backer rewards dashboard
  .env.testnet.local
  src/app/collective-rewards/actions.ts
  src/app/collective-rewards/rewards/AllTimeShare.tsx
  src/app/collective-rewards/rewards/MyRewards.tsx
  src/app/collective-rewards/rewards/backers/AllTimeShare.tsx
  src/app/collective-rewards/rewards/backers/ClaimableRewards.tsx
  src/app/collective-rewards/rewards/backers/Rewards.tsx
  src/app/collective-rewards/rewards/backers/RewardsCard.tsx
  src/app/collective-rewards/rewards/backers/context/BackerRewardsContex.tsx
  src/app/collective-rewards/rewards/backers/context/index.ts
  src/app/collective-rewards/rewards/backers/hooks/index.ts
  src/app/collective-rewards/rewards/backers/hooks/useClaimBackerRewards.ts
  src/app/collective-rewards/rewards/backers/hooks/useGetGaugesBackerRewards.ts
  src/app/collective-rewards/rewards/backers/hooks/useGetGaugesBackerRewardsClaimed.ts
  src/app/collective-rewards/rewards/backers/index.ts
  src/app/collective-rewards/rewards/builders/AllTimeRewards.tsx
  src/app/collective-rewards/rewards/builders/AllTimeShare.tsx
  src/app/collective-rewards/rewards/builders/ClaimableRewards.tsx
  src/app/collective-rewards/rewards/builders/EstimatedRewards.tsx
  src/app/collective-rewards/rewards/builders/LastCycleRewards.tsx
  src/app/collective-rewards/rewards/builders/Rewards.tsx
  src/app/collective-rewards/rewards/builders/hooks/index.ts
  src/app/collective-rewards/rewards/builders/hooks/useClaimBuilderRewards.ts
  src/app/collective-rewards/rewards/builders/hooks/useGetBuilderRewards.ts
  src/app/collective-rewards/rewards/builders/hooks/useGetBuilderRewardsClaimedLogs.ts
  src/app/collective-rewards/rewards/builders/hooks/useGetRewardPercentageToApply.ts
  src/app/collective-rewards/rewards/builders/index.ts
  src/app/collective-rewards/rewards/components/ClaimYouRewardButton.tsx
  src/app/collective-rewards/rewards/components/MetricContainer.tsx
  src/app/collective-rewards/rewards/components/Metrics/index.ts
  src/app/collective-rewards/rewards/components/MetricsCard.tsx
  src/app/collective-rewards/rewards/components/Section/RewardsSection.tsx
  src/app/collective-rewards/rewards/components/index.ts
  src/app/collective-rewards/rewards/hooks/depecrated/useGetRewardDistributedLogs.ts
  src/app/collective-rewards/rewards/hooks/depecrated/useGetTokenProjectedReward.ts
  src/app/collective-rewards/rewards/hooks/index.ts
  src/app/collective-rewards/rewards/hooks/useClaimStateReporting.ts
  src/app/collective-rewards/rewards/hooks/useGetGaugesEvents.ts
  src/app/collective-rewards/rewards/hooks/useGetGaugesNotifyReward.ts
  src/app/collective-rewards/rewards/hooks/useGetPerTokenRewards.ts
  src/app/collective-rewards/rewards/hooks/useGetRewardsCoinbase.ts
  src/app/collective-rewards/rewards/hooks/useGetRewardsERC20.ts
  src/app/collective-rewards/rewards/index.ts
  src/app/collective-rewards/rewards/types.ts
  src/app/collective-rewards/user/hooks/index.ts
  src/app/collective-rewards/user/hooks/useGetGaugesArray.ts
  src/app/collective-rewards/user/hooks/useGetGaugesLength.ts
  src/components/LoadingSpinner/withLoadingSpinner.tsx
  src/lib/abis/v2/GaugeAbi.ts
  src/lib/endpoints.ts
Labels: do not merge, collective-rewards

#320 TOK-341: reward distribution strategy
  src/app/collective-rewards/rewards/MyRewards.tsx
  src/app/collective-rewards/rewards/backers/ClaimableRewards.tsx
  src/app/collective-rewards/rewards/backers/Rewards.tsx
  src/app/collective-rewards/rewards/backers/hooks/useClaimBackerRewards.ts
  src/app/collective-rewards/rewards/builders/ClaimableRewards.tsx
  src/app/collective-rewards/rewards/builders/Rewards.tsx
  src/app/collective-rewards/rewards/builders/hooks/useClaimBuilderRewards.ts
  src/app/collective-rewards/rewards/builders/hooks/useGetBuilderRewards.ts
  src/app/collective-rewards/rewards/components/Button/SettingsButton.tsx
  src/app/collective-rewards/rewards/components/Button/index.ts
  src/app/collective-rewards/rewards/components/MetricsCard.tsx
  src/app/collective-rewards/rewards/components/Section/RewardsSectionHeader.tsx
  src/app/collective-rewards/rewards/components/index.ts
  src/app/collective-rewards/rewards/hooks/index.ts
  src/app/collective-rewards/rewards/hooks/useClaimStateReporting.ts
  src/app/collective-rewards/settings/builder/BuilderRewardsSettingsForm.tsx
  src/app/collective-rewards/settings/builder/BuilderRewardsSettingsMetrics.tsx
  src/app/collective-rewards/settings/builder/BuilderSettings.tsx
  src/app/collective-rewards/settings/builder/context/BuilderSettingsContext.tsx
  src/app/collective-rewards/settings/builder/context/index.ts
  src/app/collective-rewards/settings/builder/hooks/index.ts
  src/app/collective-rewards/settings/builder/hooks/useBuilderConfig.ts
  src/app/collective-rewards/settings/builder/index.ts
  src/app/collective-rewards/settings/index.ts
  src/app/collective-rewards/settings/page.tsx
  src/app/collective-rewards/settings/utils/index.ts
  src/app/collective-rewards/settings/utils/weiUtils.ts
  src/app/collective-rewards/shared/hooks/index.ts
  src/app/collective-rewards/shared/hooks/useReporting.ts
  src/app/collective-rewards/utils/handleErrors.ts
  src/app/login/Login.tsx
  src/app/user/page.tsx
  src/app/user/settings/page.tsx
  src/components/Tabs/Tabs.tsx
  src/shared/utility.d.ts
Labels: collective-rewards

#377 fix: filter activated builders
  src/app/collective-rewards/whitelist/components/Search/WhitelistSearch.tsx
Labels: collective-rewards

#368 TOK-477: page layout and metrics
  src/app/collective-rewards/allocations/AllocationAmount.tsx
  src/app/collective-rewards/allocations/AllocationMetrics.tsx
  src/app/collective-rewards/allocations/Header.tsx
  src/app/collective-rewards/allocations/page.tsx
  src/app/collective-rewards/allocations/useBackerTotalAllocation.tsx
  src/components/Input/Input.tsx
Labels: collective-rewards

#373 TOK-476: builder allocation component
  package-lock.json
  package.json
  src/app/collective-rewards/allocations/AllocationAmount.tsx
  src/app/collective-rewards/allocations/AllocationMetrics.tsx
  src/app/collective-rewards/allocations/BuilderAllocation.tsx
  src/app/collective-rewards/allocations/BuilderAllocationHeader.tsx
  src/app/collective-rewards/allocations/Header.tsx
  src/app/collective-rewards/allocations/StakeHint.tsx
  src/app/collective-rewards/allocations/page.tsx
  src/app/collective-rewards/allocations/types.ts
  src/app/collective-rewards/user/components/Button/BecomeABuilderButton.tsx
  src/components/Slider/Slider.stories.tsx
  src/components/Slider/Slider.tsx
  src/components/Slider/index.ts
Labels: collective-rewards

#379 fix(Collapsible): fix opacity to gradually show the component
  tailwind.config.ts
Labels: collective-rewards

#369 TOK-412: List all activated builders
  src/app/collective-rewards/leaderboard/BuildersLeaderBoardTable.tsx
  src/app/collective-rewards/leaderboard/LeaderBoard.tsx
  src/app/collective-rewards/leaderboard/hooks/index.ts
  src/app/collective-rewards/leaderboard/hooks/useGetBuildersRewards.ts
  src/app/collective-rewards/leaderboard/index.ts
  src/app/collective-rewards/page.tsx
  src/app/collective-rewards/rewards/builders/EstimatedRewards.tsx
  src/app/collective-rewards/rewards/builders/hooks/index.ts
  src/app/collective-rewards/rewards/builders/hooks/useGetBuildersRewards.ts
  src/app/collective-rewards/rewards/hooks/index.ts
  src/app/collective-rewards/rewards/hooks/useGetBuilderRewardPercentage.ts
  src/app/collective-rewards/rewards/hooks/useGetBuildersRewardPercentage.ts
  src/app/collective-rewards/rewards/hooks/useGetGaugesNotifyReward.ts
  src/app/collective-rewards/rewards/hooks/useGetGaugesRewardShares.ts
  src/app/collective-rewards/rewards/hooks/useGetTotalAllocations.ts
  src/app/collective-rewards/rewards/utils/getNotifyRewardAmount.ts
  src/app/collective-rewards/rewards/utils/getPercentageData.ts
  src/app/collective-rewards/rewards/utils/index.ts
  src/app/collective-rewards/rewards/utils/toPercentage.ts
  src/app/collective-rewards/types.ts
  src/app/collective-rewards/user/components/Button/BecomeABuilderButton.test.tsx
  src/app/collective-rewards/user/context/BuilderContext.tsx
  src/app/collective-rewards/user/hooks/useGetBuilders.ts
  src/app/collective-rewards/utils/getMostAdvancedProposal.test.tsx
  src/app/collective-rewards/whitelist/hooks/useGetFilteredBuilders.ts
  src/components/Collapsible/Collapsible.tsx
  src/components/ProgressBar/ProgressBar.tsx
  src/lib/constants.ts
  src/shared/hooks/usePagination.ts
  src/shared/hooks/usePaginationUi.tsx
Labels: collective-rewards

#397 refactor: search context
  src/app/collective-rewards/active-builders/ActiveBuildersContent.tsx
  src/app/collective-rewards/active-builders/ActiveBuildersGrid.tsx
  src/app/collective-rewards/active-builders/ActiveBuildersGridItem.tsx
  src/app/collective-rewards/leaderboard/BuildersLeaderBoardTable.tsx
  src/app/collective-rewards/rewards/backers/hooks/useGetBackerRewards.ts
  src/app/collective-rewards/shared/context/SearchContext.tsx
  src/app/collective-rewards/user/components/Button/BecomeABuilderButton.tsx
  src/app/collective-rewards/utils/index.ts
Labels: collective-rewards

#398 fix: rewards ui issues
  src/app/collective-rewards/allocations/context/AllocationsContext.tsx
  src/app/collective-rewards/leaderboard/BuilderLeaderBoard.tsx
  src/app/collective-rewards/leaderboard/BuildersLeaderBoardContent.tsx
  src/app/collective-rewards/rewards/MyRewards.tsx
  src/app/collective-rewards/rewards/backers/BackerRewardsTable.tsx
  src/app/collective-rewards/rewards/backers/ClaimableRewards.tsx
  src/app/collective-rewards/rewards/backers/Rewards.tsx
  src/app/collective-rewards/rewards/backers/context/BackerRewardsContex.tsx
  src/app/collective-rewards/rewards/backers/hooks/useClaimBackerRewards.ts
  src/app/collective-rewards/rewards/backers/hooks/useGetBackerRewards.ts
  src/app/collective-rewards/rewards/builders/hooks/useGetBuildersRewards.ts
  src/app/collective-rewards/rewards/hooks/index.ts
  src/app/collective-rewards/rewards/hooks/useGetBackerRewardPercentage.ts
  src/app/collective-rewards/rewards/hooks/useGetBackersRewardPercentage.ts
  src/app/collective-rewards/shared/components/Table/TableCells.tsx
  src/app/collective-rewards/user/hooks/useGetBuildersByState.ts
  src/app/proposals/hooks/useFetchLatestProposals.ts
  src/pages/proposals/[id].tsx
Labels: collective-rewards

#399 fix: add the missing tooltips
  src/app/collective-rewards/leaderboard/BuildersLeaderBoardTable.tsx
  src/app/collective-rewards/metrics/AllTimeRewardsMetrics.tsx
  src/app/collective-rewards/rewards/backers/AllTimeShare.tsx
  src/app/collective-rewards/rewards/backers/BackerRewardsTable.tsx
  src/app/collective-rewards/rewards/backers/Rewards.tsx
  src/app/collective-rewards/rewards/backers/RewardsCard.tsx
  src/app/collective-rewards/rewards/builders/AllTimeRewards.tsx
  src/app/collective-rewards/rewards/builders/AllTimeShare.tsx
  src/app/collective-rewards/rewards/builders/EstimatedRewards.tsx
Labels: collective-rewards

#400 fix: format builder name and rewards leaderboard name alignment
  src/app/collective-rewards/shared/components/Table/TableCells.tsx
  src/app/collective-rewards/user/hooks/useGetBuilders.ts
  src/app/collective-rewards/utils/index.ts
  src/app/collective-rewards/utils/removeBrackets.test.ts
  src/app/collective-rewards/utils/removeBrackets.ts
Labels: collective-rewards

#401 fix: change the destination contract for whitelist builder proposal
  src/components/Modal/BecomeABuilderModal.tsx
  src/components/Modal/ProposalSelectionModal.tsx
  src/pages/proposals/create.tsx
Labels: collective-rewards, deploy to QA

#404 fix: show tabs only if user is builder or backer
  src/app/collective-rewards/allocations/useBackerTotalAllocation.tsx
  src/app/collective-rewards/rewards/hooks/index.ts
  src/app/collective-rewards/rewards/hooks/useGetBackerRewardPerTokenPaid.ts
  src/app/collective-rewards/rewards/hooks/useIsBuilderOrBacker.ts
  src/app/collective-rewards/user/components/Button/BecomeABuilderButton.tsx
  src/app/user/Balances/BalancesSection.tsx
  src/app/user/page.tsx
Labels: collective-rewards

#402 fix: fix few inconsistencies in the allocations
  src/app/collective-rewards/allocations/components/AllocationAmount.tsx
  src/app/collective-rewards/allocations/components/BuilderAllocation.tsx
  src/app/collective-rewards/allocations/components/BuilderAllocationHeader.tsx
  src/app/collective-rewards/allocations/context/AllocationsContext.tsx
  src/app/collective-rewards/allocations/page.tsx
Labels: collective-rewards

#409 fix: disable save allocs and other goodness
  src/app/collective-rewards/allocations/components/AllocationAmount.tsx
  src/app/collective-rewards/allocations/components/AllocationMetrics.tsx
  src/app/collective-rewards/allocations/components/BuilderAllocation.tsx
  src/app/collective-rewards/allocations/context/AllocationsContext.tsx
  src/app/collective-rewards/allocations/context/allocationsActions.tsx
  src/app/collective-rewards/allocations/page.tsx
Labels: collective-rewards

#405 fix: filter out builders without allocations or rewards
  src/app/collective-rewards/rewards/backers/BackerRewardsTable.tsx
  src/app/collective-rewards/rewards/backers/hooks/useGetBackerRewards.ts
  src/app/collective-rewards/rewards/utils/getPercentageData.ts
Labels: collective-rewards

#413 TOK-494: show the current pct if remaining time has passed
  src/app/collective-rewards/rewards/builders/hooks/useGetRewardPercentageToApply.ts
  src/app/collective-rewards/settings/builder/BuilderRewardsSettingsMetrics.tsx
  src/app/collective-rewards/settings/builder/context/BuilderSettingsContext.tsx
Labels: collective-rewards

#408 Fix: estimated backer rewards
  src/app/collective-rewards/allocations/context/AllocationsContext.tsx
  src/app/collective-rewards/rewards/backers/context/BackerRewardsContex.tsx
  src/app/collective-rewards/rewards/backers/hooks/useGetBackerRewards.ts
  src/app/collective-rewards/rewards/builders/EstimatedRewards.tsx
  src/app/collective-rewards/rewards/builders/hooks/index.ts
  src/app/collective-rewards/rewards/builders/hooks/useGetBuildersRewards.ts
  src/app/collective-rewards/rewards/hooks/useGetBackerRewardPercentage.ts
  src/app/collective-rewards/rewards/hooks/useGetBackersRewardPercentage.ts
  src/app/collective-rewards/rewards/hooks/useGetRewardsCoinbase.ts
  src/app/collective-rewards/rewards/hooks/useGetRewardsERC20.ts
  src/app/collective-rewards/rewards/utils/getLastCycleRewards.ts
  src/app/collective-rewards/rewards/utils/getPercentageData.ts
  src/app/collective-rewards/utils/applyPrecision.ts
  src/app/collective-rewards/utils/index.ts
  src/lib/abis/v2/RewardDistributorAbi.ts
  src/lib/contracts.ts
Labels: collective-rewards

#411 TOK-493: update growth rewards bucket address
  src/lib/contracts.ts
Labels: collective-rewards

#414 TOK-495: update the text in my rewards section
  src/app/collective-rewards/rewards/MyRewards.tsx
  src/app/collective-rewards/rewards/components/Section/RewardsSectionHeader.tsx
Labels: collective-rewards

#415 fix: claim rewards button
  src/app/collective-rewards/allocations/page.tsx
  src/app/collective-rewards/rewards/backers/ClaimableRewards.tsx
  src/app/collective-rewards/rewards/backers/Rewards.tsx
  src/app/collective-rewards/rewards/backers/hooks/useClaimBackerRewards.ts
  src/app/collective-rewards/rewards/builders/ClaimableRewards.tsx
  src/app/collective-rewards/rewards/builders/Rewards.tsx
  src/app/collective-rewards/rewards/builders/hooks/useClaimBuilderRewards.ts
  src/app/collective-rewards/rewards/builders/hooks/useGetBuildersRewards.ts
  src/app/collective-rewards/settings/builder/hooks/useBuilderConfig.ts
  src/app/collective-rewards/shared/hooks/useReporting.ts
  src/app/collective-rewards/utils/handleErrors.ts
Labels: collective-rewards

#418 fix: show the decoded input for dewhitelist proposals
  src/pages/proposals/[id].tsx
Labels: collective-rewards, deploy to QA

#421 TOK-502: use active backer rewards percentage
  src/app/collective-rewards/allocations/components/BuilderAllocation.tsx
  src/app/collective-rewards/allocations/context/AllocationsContext.tsx
  src/app/collective-rewards/allocations/hooks/useBackerTotalAllocation.ts
  src/app/collective-rewards/allocations/hooks/useBuildersWithBackerRewardPercentage.ts
  src/app/collective-rewards/rewards/builders/hooks/useGetBuildersRewards.ts
  src/app/collective-rewards/types.ts
Labels: collective-rewards, deploy to QA

#423 fix: formatOnChain franction
  src/app/collective-rewards/rewards/utils/formatMetrics.test.ts
  src/app/collective-rewards/rewards/utils/formatMetrics.ts
Labels: collective-rewards, deploy to QA

#429 chore(cr): change builder to backer reward percentage
  .env.testnet.local
  src/app/collective-rewards/settings/builder/hooks/useBuilderConfig.ts
Labels: collective-rewards
