Repository RootstockCollective/dao-frontend, pull requests merged in 2024-12, with the labels that each got.

#437 chore(cr): sync testnet configs
  .env.testnet.local
Labels: do not merge, collective-rewards

#430 TOK-515: include halted builders
  src/app/collective-rewards/allocations/components/BuilderAllocationHeader.tsx
  src/app/collective-rewards/metrics/Metrics.tsx
  src/app/collective-rewards/rewards/MyRewards.tsx
  src/app/collective-rewards/rewards/builders/hooks/useGetBuildersRewards.ts
  src/app/collective-rewards/shared/components/Table/TableCells.tsx
  src/app/collective-rewards/user/hooks/useGetBuilders.ts
  src/app/collective-rewards/user/hooks/useGetGaugesArray.ts
  src/app/collective-rewards/utils/index.ts
  src/app/collective-rewards/utils/isBuilderActive.ts
  src/app/collective-rewards/utils/isBuilderOperational.ts
Labels: collective-rewards, deploy to QA

#431 TOK-517: pause builder reward claim
  src/app/collective-rewards/rewards/builders/ClaimableRewards.tsx
  src/app/collective-rewards/rewards/builders/Rewards.tsx
  src/app/collective-rewards/rewards/builders/hooks/useClaimBuilderRewards.ts
  src/app/collective-rewards/rewards/components/ClaimYouRewardButton.tsx
Labels: do not merge, collective-rewards

#395 DAO-873 Will not update state if user merely inserts a '.'
  src/app/user/Stake/StakingContext.tsx
Labels: do not merge

#443 TOK-526: proposal joined date
  src/app/collective-rewards/active-builders/ActiveBuildersGridItem.tsx
  src/app/collective-rewards/allocations/components/BuilderAllocationHeader.tsx
  src/app/collective-rewards/shared/components/Table/TableCells.tsx
  src/app/collective-rewards/utils/isBuilderOperational.ts
Labels: collective-rewards

#444 TOK-360: builder dewhitelist validation
  src/app/proposals/create/RemoveBuilderProposalForm.tsx
  src/app/proposals/hooks/useRemoveBuilderProposal.ts
  src/app/proposals/shared/errors.ts
Labels: collective-rewards

#428 TOK-514: disabled if builder not operational
  src/app/collective-rewards/settings/builder/BuilderRewardsSettingsForm.tsx
  src/app/collective-rewards/settings/builder/context/BuilderSettingsContext.tsx
  src/app/collective-rewards/settings/builder/index.ts
  src/app/collective-rewards/shared/components/Table/TableCells.tsx
  src/app/collective-rewards/utils/getMostAdvancedProposal.ts
Labels: do not merge, collective-rewards

#451 build: fix missing import
  src/app/collective-rewards/shared/components/Table/TableCells.tsx
Labels: collective-rewards, deploy to QA

#441 TOK-522: cycle metrics
  src/app/collective-rewards/metrics/CycleMetrics.tsx
  src/app/collective-rewards/metrics/context/CycleContext.tsx
  src/app/collective-rewards/metrics/hooks/index.ts
  src/app/collective-rewards/metrics/hooks/useGetTimeUntilNextCycle.ts
Labels: collective-rewards

#432 TOK-538: disable manage allocations button
  src/app/collective-rewards/allocations/hooks/index.ts
  src/app/collective-rewards/allocations/hooks/useValidateBackerAllocations.ts
  src/app/collective-rewards/leaderboard/BuilderLeaderBoard.tsx
  src/app/collective-rewards/rewards/MyRewards.tsx
  src/app/collective-rewards/rewards/components/Section/RewardsSectionHeader.tsx
Labels: collective-rewards, deploy to QA

#463 TOK-532/misplaced-bottom-links
  src/components/MainContainer/MainContainer.tsx
Labels: collective-rewards, deploy to QA

#461 TOK-529: Active builder metric displays total gauges length
  src/app/collective-rewards/metrics/TotalActiveBuildersMetrics.tsx
Labels: collective-rewards, deploy to QA

#470 TOK-525: values-digits-display
  src/app/collective-rewards/allocations/components/AllocationAmount.tsx
  src/app/collective-rewards/allocations/components/AllocationMetrics.tsx
  src/app/collective-rewards/allocations/components/BuilderAllocation.tsx
  src/app/collective-rewards/leaderboard/BuildersLeaderBoardTable.tsx
  src/app/collective-rewards/metrics/AllTimeRewardsMetrics.tsx
  src/app/collective-rewards/metrics/TotalAllocationsMetrics.tsx
  src/app/collective-rewards/rewards/backers/BackerRewardsTable.tsx
  src/app/collective-rewards/rewards/backers/ClaimableRewards.tsx
  src/app/collective-rewards/rewards/backers/RewardsCard.tsx
  src/app/collective-rewards/rewards/backers/hooks/useGetBackerRewards.ts
  src/app/collective-rewards/rewards/builders/AllTimeRewards.tsx
  src/app/collective-rewards/rewards/builders/ClaimableRewards.tsx
  src/app/collective-rewards/rewards/builders/EstimatedRewards.tsx
  src/app/collective-rewards/rewards/builders/LastCycleRewards.tsx
  src/app/collective-rewards/rewards/builders/hooks/useGetBuildersRewards.ts
  src/app/collective-rewards/rewards/hooks/useGetBackerRewardPercentage.ts
  src/app/collective-rewards/rewards/hooks/useGetBackersRewardPercentage.ts
  src/app/collective-rewards/rewards/types.ts
  src/app/collective-rewards/rewards/utils/formatMetrics.test.ts
  src/app/collective-rewards/rewards/utils/formatMetrics.ts
  src/app/collective-rewards/rewards/utils/formatter.test.ts
  src/app/collective-rewards/rewards/utils/formatter.ts
  src/app/collective-rewards/rewards/utils/getBackerRewardPercentage.ts
  src/app/collective-rewards/rewards/utils/getPercentageData.ts
  src/app/collective-rewards/rewards/utils/index.ts
  src/app/collective-rewards/rewards/utils/toPercentage.ts
  src/app/collective-rewards/shared/components/Table/TableCells.tsx
  src/app/collective-rewards/utils/getCombinedFiatAmount.ts
  src/app/collective-rewards/utils/index.ts
  src/components/Footer/Footer.tsx
Labels: collective-rewards, deploy to QA

#462 TOK-415: hide-backer-rewards
  src/app/collective-rewards/rewards/MyRewards.tsx
  src/app/collective-rewards/rewards/hooks/index.ts
  src/app/collective-rewards/rewards/hooks/useGetBackerRewardPerTokenPaid.ts
  src/app/collective-rewards/rewards/hooks/useIsBuilderOrBacker.ts
Labels: collective-rewards

#471 TOK-536: update text and tooltips
  src/app/collective-rewards/allocations/components/Header.tsx
  src/app/collective-rewards/leaderboard/BuilderLeaderBoard.tsx
  src/app/collective-rewards/leaderboard/BuildersLeaderBoardTable.tsx
  src/app/collective-rewards/metrics/TotalAllocationsMetrics.tsx
  src/app/collective-rewards/rewards/MyRewards.tsx
  src/app/collective-rewards/rewards/backers/BackerRewardsTable.tsx
  src/app/collective-rewards/rewards/backers/ClaimableRewards.tsx
  src/app/collective-rewards/rewards/backers/Rewards.tsx
  src/app/collective-rewards/rewards/builders/ClaimableRewards.tsx
  src/app/collective-rewards/rewards/builders/EstimatedRewards.tsx
  src/app/collective-rewards/rewards/components/Tooltip.tsx
  src/app/collective-rewards/shared/components/CRWhitepaperLink.tsx
  src/app/collective-rewards/shared/components/Table/TableHeaders.tsx
  src/app/collective-rewards/shared/components/index.ts
Labels: collective-rewards

#447 TOK-383: in-progress-submit-kyc
  src/app/collective-rewards/active-builders/ActiveBuildersContent.tsx
  src/app/collective-rewards/allocations/components/BuilderAllocationHeader.tsx
  src/app/collective-rewards/shared/components/Pagination.tsx
  src/app/collective-rewards/shared/components/Table/TableCells.tsx
  src/app/collective-rewards/shared/context/PaginatedDataContext.tsx
  src/app/collective-rewards/shared/context/index.ts
  src/app/collective-rewards/user/components/Button/BecomeABuilderButton.test.tsx
  src/app/collective-rewards/user/components/Button/BecomeABuilderButton.tsx
  src/app/collective-rewards/utils/isBuilderOperational.ts
  src/components/Address/withCopy.tsx
  src/components/Modal/BecomeABuilderModal.tsx
Labels: collective-rewards

#472 TOK-541: add ABI
  src/app/collective-rewards/metrics/Metrics.tsx
  src/app/collective-rewards/metrics/TotalActiveBuildersMetrics.tsx
  src/app/collective-rewards/metrics/TotalAllocationsMetrics.tsx
  src/app/collective-rewards/metrics/components/ABIMetrics/ABIMetrics.tsx
  src/app/collective-rewards/metrics/components/ABIMetrics/hooks/useGetABI.ts
  src/app/collective-rewards/metrics/components/ABIMetrics/index.ts
  src/app/collective-rewards/metrics/hooks/useGetTotalAllocation.ts
  src/app/collective-rewards/rewards/MyRewards.tsx
  src/app/collective-rewards/rewards/backers/ClaimableRewards.tsx
  src/app/collective-rewards/rewards/backers/hooks/useGetBackerRewards.ts
  src/app/collective-rewards/rewards/builders/EstimatedRewards.tsx
  src/app/collective-rewards/rewards/builders/hooks/useGetBuildersRewards.ts
  src/app/collective-rewards/types.ts
  src/app/collective-rewards/utils/isBuilderOperational.ts
  src/components/Popover/Popover.tsx
Labels: collective-rewards

#486 TOK-547: update CR whitepaper link
  src/app/collective-rewards/shared/components/CRWhitepaperLink.tsx
Labels: collective-rewards

#493 DAO-945 Will show 0 when USD is NaN
  src/app/proposals/create/TreasuryWithdrawProposalForm.tsx
  src/lib/utils.ts
Labels: do not merge
