Repository RootstockCollective/dao-frontend, pull requests merged in 2025-02, with the labels that each got.

#642 TOK-603: fix wrong modal data
  src/components/Modal/VoteSubmittedModal.tsx
Labels: collective-rewards

#644 TOK-610: temp remove backers all-time share
  src/app/collective-rewards/rewards/backers/Rewards.tsx
Labels: collective-rewards

#645 TOK-559/my-rewards-abi
  src/app/collective-rewards/metrics/TotalAllocationsMetrics.tsx
  src/app/collective-rewards/metrics/components/ABIMetrics/ABIMetrics.tsx
  src/app/collective-rewards/metrics/components/ABIMetrics/hooks/useGetABI.ts
  src/app/collective-rewards/rewards/backers/ABIBackers.tsx
  src/app/collective-rewards/rewards/backers/Rewards.tsx
  src/app/collective-rewards/rewards/backers/hooks/useGetBackerRewards.ts
  src/app/collective-rewards/rewards/backers/index.ts
  src/app/collective-rewards/rewards/builders/hooks/useGetBuildersRewards.ts
  src/app/collective-rewards/shared/components/ABI/ABIFormula.tsx
  src/app/collective-rewards/shared/components/ABI/index.ts
  src/app/collective-rewards/shared/components/index.ts
  src/app/collective-rewards/shared/hooks/index.ts
  src/app/collective-rewards/shared/hooks/useGetABI.ts
  src/app/collective-rewards/shared/hooks/useGetCyclePayout.ts
  src/app/collective-rewards/shared/hooks/useGetEstimatedBackersRewardsPct.ts
Labels: collective-rewards

#643 TOK-557: use from block for every event request
  .env.dev
  .env.mainnet
  .env.qa
  .env.testnet
  .env.testnet.local
  .env.testnet.qa
  src/lib/constants.ts
  src/lib/endpoints.ts
Labels: collective-rewards

#679 Update delegation modal design and functionality
  src/app/user/Delegation/DelegateIcon.tsx
  src/app/user/Delegation/DelegateModal.tsx
  src/app/user/Delegation/hooks/shepherds-mainnet.ts
  src/app/user/Delegation/hooks/useNftHoldersWithVotingPower.ts
  src/app/user/Delegation/images/delegate-icon.png
  src/app/user/Delegation/images/rif-icon.svg
  src/app/user/Delegation/server/fetchNftHoldersWithVotingPower.ts
  src/components/Input/Input.tsx
  src/components/Modal/Modal.tsx
  src/components/PasteButton/PasteButton.tsx
  src/components/PasteButton/index.ts
  src/lib/constants.ts
  src/lib/contracts.ts
  src/theme/default.css
Labels: urgent

#670 feat: fetch NewAllocation event
  src/app/collective-rewards/allocations/context/AllocationsContext.tsx
  src/app/collective-rewards/allocations/hooks/useNewAllocationEvent.ts
  src/app/proposals/api/events/index.ts
  src/app/proposals/hooks/useVoteCast.ts
  src/app/user/Balances/actions.ts
  src/lib/endpoints.ts
Labels: urgent

#678 TOK-617: add nft boost status card
  src/app/collective-rewards/user/components/Button/WithBuilderButton.tsx
  src/app/shared/components/NFTBoosterCard/NFTBoosterCard.stories.tsx
  src/app/shared/components/NFTBoosterCard/NFTBoosterCard.tsx
  src/app/shared/components/index.ts
Labels: collective-rewards

#689 TOK-621: add glowing label
  src/app/collective-rewards/rewards/MyRewards.tsx
  src/app/collective-rewards/rewards/components/Section/RewardsSectionHeader.tsx
  src/components/BoltSvg/BoltSvg.tsx
  src/components/BoltSvg/index.ts
  src/components/Label/GlowingLabel.stories.tsx
  src/components/Label/GlowingLabel.tsx
Labels: collective-rewards

#659 feat: Signposting on My Collective Dashboard
  package-lock.json
  package.json
  src/app/collective-rewards/allocations/hooks/useNewAllocationEvent.ts
  src/app/collective-rewards/metrics/Metrics.tsx
  src/app/collective-rewards/user/components/Button/index.ts
  src/app/globals.css
  src/app/proposals/components/HeaderSection.tsx
  src/app/proposals/hooks/useVoteCast.ts
  src/app/user/Balances/BalancesSection.tsx
  src/app/user/Balances/actions.ts
  src/app/user/Balances/context/BalancesContext.tsx
  src/app/user/Balances/hooks/useGetAddressBalances.ts
  src/app/user/page.tsx
  src/components/LeftSidebar/UsefulLinks.tsx
  src/components/LeftSidebar/links.tsx
  src/components/TokenImage/TokenImage.tsx
  src/components/dropdown/data.ts
  src/components/dropdown/data.tsx
  src/components/dropdown/dropdown.stories.tsx
  src/components/dropdown/dropdown.tsx
  src/components/dropdown/icons/number.tsx
  src/lib/constants.ts
  src/shared/contants/index.ts
  src/shared/contants/text/index.ts
Labels: do not merge, blocked

#680 TOK-624: wrap long words if needed
  src/components/Alert/Alert.tsx
Labels: collective-rewards

#666 TOK-611: migration-support
  .env.testnet.local
  .env.testnet.qa
  src/app/collective-rewards/allocations/hooks/useAllocateVotes.test.tsx
  src/app/collective-rewards/allocations/hooks/useBuildersWithBackerRewardPercentage.ts
  src/app/collective-rewards/rewards/MyRewards.tsx
  src/app/collective-rewards/rewards/backers/context/BackerRewardsContext.tsx
  src/app/collective-rewards/rewards/backers/context/index.ts
  src/app/collective-rewards/rewards/builders/hooks/useGetRewardPercentageToApply.ts
  src/app/collective-rewards/rewards/hooks/useGetBackerRewardPercentage.ts
  src/app/collective-rewards/rewards/hooks/useGetBackersRewardPercentage.ts
  src/app/collective-rewards/settings/builder/hooks/useBuilderConfig.ts
  src/app/collective-rewards/user/hooks/useGetBuilderToGauge.ts
  src/app/collective-rewards/user/hooks/useGetBuilders.ts
  src/app/collective-rewards/user/hooks/useGetGaugesArray.ts
  src/app/collective-rewards/user/hooks/useGetGaugesLength.ts
  src/app/collective-rewards/utils/getBuilderGauge.ts
  src/app/collective-rewards/utils/getBuilderState.ts
  src/app/collective-rewards/utils/index.ts
  src/app/proposals/hooks/useCreateBuilderWhitelistProposal.ts
  src/app/providers/ContextProviders.tsx
  src/lib/abis/v2/BackersManagerAbi.ts
  src/lib/abis/v2/BuilderRegistryAbi.ts
  src/lib/constants.ts
  src/lib/contracts.ts
  src/shared/context/MigrationContext.test.tsx
  src/shared/context/MigrationContext.tsx
Labels: collective-rewards

#707 TOK-638: show overflow and break the word if long
  src/app/collective-rewards/leaderboard/BuildersLeaderBoardTable.tsx
  src/components/Address/AddressOrAlias.tsx
Labels: collective-rewards

#705 TOK-632: table-simplification
  src/app/collective-rewards/leaderboard/BuildersLeaderBoardTable.tsx
  src/app/collective-rewards/rewards/MyRewards.tsx
  src/app/collective-rewards/rewards/backers/BackerRewardsTable.tsx
  src/app/collective-rewards/shared/components/Table/TableCells.test.tsx
  src/app/collective-rewards/shared/components/Table/TableCells.tsx
  src/app/collective-rewards/shared/components/Table/TableHeaders.tsx
Labels: collective-rewards

#712 build: include builder registry address
  .env.mainnet
Labels: collective-rewards

#701 TOK-637: lowercase addresses
  src/app/communities/nft/[address]/page.tsx
  src/app/providers/NFT/BoosterContext.test.tsx
  src/app/providers/NFT/BoosterContext.tsx
  src/app/shared/components/NFTBoosterCard/NFTBoosterCard.tsx
  src/app/shared/components/NFTBoosterCard/SelfContainedNFTBoosterCard.tsx
Labels: collective-rewards

#724 fix: nft booster card
  src/app/collective-rewards/metrics/Metrics.tsx
  src/app/collective-rewards/shared/components/JustifyBetweenLayout.tsx
  src/app/collective-rewards/shared/components/index.ts
  src/app/collective-rewards/user/components/Button/WithBuilderButton.test.tsx
  src/app/collective-rewards/user/components/Button/WithBuilderButton.tsx
  src/app/communities/nft/[address]/page.tsx
  src/app/globals.css
  src/app/shared/components/NFTBoosterCard/NFTBoosterCard.stories.tsx
  src/app/shared/components/NFTBoosterCard/NFTBoosterCard.tsx
  src/app/shared/components/NFTBoosterCard/SelfContainedNFTBoosterCard.test.tsx
  src/app/shared/components/NFTBoosterCard/SelfContainedNFTBoosterCard.tsx
  src/app/user/page.tsx
Labels: collective-rewards
